:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --acsent-text-color: #2196f3;
  }

body{
    font-family:Roboto, sans-serif;
    background-color: #ffffff;
    color: var(--primary-text-color);
}
.link{
text-decoration: none;
}
.list{
list-style: none;
}

/*Секція хедер*/
.header{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.header-logo {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--acsent-text-color);
}
.header-accent {
    color:black;
}
.header-current{
color:var(--acsent-text-color);
}
.header-link{
color: var(--primary-text-color);   
}
.header-contact{
color: var(--secondary-text-color);    
}
/* герой*/
.hero{
background-color:  #2F303A;
}
.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
color: #FFFFFF;
}
.hero-button{
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
color: #FFFFFF;
background: var(--acsent-text-color);
}
.hero-button:hover,
.hero-button:focus{
background:var(--acsent-text-color);
}
/*Секція про нас*/
.content,
.main{
background-color: #E5E5E5;
}
.content-title{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}
.content-heading{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}
/*Чем мы занимаемся*/
.main-title{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

/*Наша команда*/
.user{
background: #F5F4FA;   
}
.user-list-itm{
background: #FFFFFF;
}
.user-title{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.uppertitle{
font-weight: 400;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

/*Footer*/
.footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    background: #2F303A;
}
.footer-nav{
    color: #FFFFFF;  
}
.footer-contact{
color: rgba(255, 255, 255, 0.6);
}

/* Rectangle*/
.button{
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
background-color: var(--acsent-text-color);
color: #FFFFFF;
}
.button:hover,
.button:focus{
background:var(--acsent-text-color);
}
.main-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.main-button:hover,
.main-button:focus{
 background-color: var(--acsent-text-color);
}
/* img */
.title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

    








