:root{
    --main-font: "Roboto";
    --white-txt-ci:
}


body{
    font-family: var(--main-font), sans-serif;
    font-style: normal;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}

/*Секція хедер*/
.header{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.header-logo {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;}
    
.header-accent {color:black;}
.header-current{
color: #2196F3;
}
.header-link{
color: #212121   
}
.header-nav{
color: #2196F3
}
.header-contact{
color: #757575    
}
.link{
text-decoration: none;
}
.list{
    list-style: none;
}
/* герой*/
/* Эффективные решения для вашего бизнеса */
.hero{
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background-color:  #2F303A;
}
.title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
color: #FFFFFF;
}
.button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.button:hover,
.button:focus{
background: #2196F3;
}
/*Секція про нас*/
.uppertitle{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}
.heading{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
/*Чем мы занимаемся*/
.main-title{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/*Наша команда*/
.user-title{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #212121;
}
.user-uppertitle{
font-weight: 400;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #757575;
}




